table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  cursor: pointer;
}

.asc i::before {
  content: '\f0de';
}

.desc i::before {
  content: '\f0dd';
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.mb-12 {
  margin-bottom: 12px;
} 

.alert {
  color: red;
}

.notice {
  color: green;
}